<div class="orbit">
  <div class="planet about">
    <%= icon('user') %>
  </div>
  <div class="planet skills">
    <%= icon('tasks') %>
  </div>
  <div class="planet science">
    <%= icon('flask') %>
  </div>
  <div class="planet projects">
    <%= icon('cogs') %>
  </div>
  <div class="planet works">
    <%= icon('book') %>
  </div>
  <div class="planet photos">
    <%= icon('camera') %>
  </div>
  <div class="planet contacts">
    <%= icon('envelope') %>
  </div>

</div>
