<div class="orbit">
  <div class="planet about">
    <div class="content">
      <%= icon('user') %>
      <h2><%= t('.about') %></h2>
      <p>
        <%= t('.about_content.hello') %>
      </p>
      <p>
        <%= t('.about_content.me') %>
      </p>
      <p>
        <%= t('.about_content.nicknames') %>
      </p>
      <p>
        <%= t('.about_content.interests') %>
      </p>
      <div class="interests">
        <span class="tip">
          <%= image_tag("interests/it.png", alt: t('.about_content.interests_list.it'), class: 'interest') %>
          <span class="tip-content"><%= t('.about_content.interests_list.it') %></span>
        </span>
        <span class="tip">
          <%= image_tag("interests/sciences.png", alt: t('.about_content.interests_list.sciences'), class: 'interest') %>
          <span class="tip-content"><%= t('.about_content.interests_list.sciences') %></span>
        </span>
        <span class="tip">
          <%= image_tag("interests/foreign_languages.png", alt: t('.about_content.interests_list.foreign_languages'), class: 'interest') %>
          <span class="tip-content"><%= t('.about_content.interests_list.foreign_languages') %></span>
        </span>
        <span class="tip">
          <%= image_tag("interests/literature.png", alt: t('.about_content.interests_list.literature'), class: 'interest') %>
          <span class="tip-content"><%= t('.about_content.interests_list.literature') %></span>
        </span>
      </div>
      <div class="interests">
        <span class="tip">
          <%= image_tag("interests/yoga.png", alt: t('.about_content.interests_list.yoga'), class: 'interest') %>
          <span class="tip-content"><%= t('.about_content.interests_list.yoga') %></span>
        </span>
        <span class="tip">
          <%= image_tag("interests/sports.png", alt: t('.about_content.interests_list.sports'), class: 'interest') %>
          <span class="tip-content"><%= t('.about_content.interests_list.sports') %></span>
        </span>
        <span class="tip">
          <%= image_tag("interests/games.png", alt: t('.about_content.interests_list.games'), class: 'interest') %>
          <span class="tip-content"><%= t('.about_content.interests_list.games') %></span>
        </span>
        <span class="tip">
          <%= image_tag("interests/socionics.png", alt: t('.about_content.interests_list.socionics'), class: 'interest') %>
          <span class="tip-content"><%= t('.about_content.interests_list.socionics') %></span>
        </span>
      </div>
      <div class="interests">
        <span class="tip">
          <%= image_tag("interests/ai.png", alt: t('.about_content.interests_list.ai'), class: 'interest') %>
          <span class="tip-content"><%= t('.about_content.interests_list.ai') %></span>
        </span>
        <span class="tip">
          <%= image_tag("interests/music.png", alt: t('.about_content.interests_list.music'), class: 'interest') %>
          <span class="tip-content"><%= t('.about_content.interests_list.music') %></span>
        </span>
        <span class="tip">
          <%= image_tag("interests/engineering.png", alt: t('.about_content.interests_list.engineering'), class: 'interest') %>
          <span class="tip-content"><%= t('.about_content.interests_list.engineering') %></span>
        </span>
        <span class="tip">
          <%= image_tag("interests/comics.png", alt: t('.about_content.interests_list.comics'), class: 'interest') %>
          <span class="tip-content"><%= t('.about_content.interests_list.comics') %></span>
        </span>
      </div>
    </div>
  </div>

  <div class="planet science">
    <div class="content">
      <%= icon('flask') %>
      <h2><%= t('.science') %></h2>
      <p>
        <%= t('.science_content.theme') %>
      </p>
      <p>
        <%= t('.science_content.thesis') %>
        <a href="https://github.com/DerrSaff/mythesis" target="_blank">https://github.com/DerrSaff/mythesis</a>
      </p>
      <p>
        <%= t('.science_content.articles') %>
        <a href="https://github.com/DerrSaff/mythesis" target="_blank">https://github.com/DerrSaff/myarticles</a>
      </p>
    </div>
  </div>

  <div class="planet skills">
    <div class="content">
      <%= icon('tasks') %>
      <h2><%= t('.skills') %></h2>
      <p>
        <%= t('.skills_content.level') %>
      </p>
      <!-- <%= t('.skills_content.interskillar') %> -->
      <div class="skills-list">
        <div class="skill">
          <figure>
            <%= image_tag('skills/frontend.png', size: '96') %>
            <progress value="60" max="100">60%</progress>
            <figcaption>HTML/CSS</figcaption>
          </figure>
        </div>
        <div class="skill">
          <figure>
            <%= image_tag('skills/javascript.png', size: '96') %>
            <progress value="15" max="100">15%</progress>
            <figcaption>JavaScript</figcaption>
          </figure>
        </div>
        <div class="skill">
          <figure>
            <%= image_tag('skills/ror.png', size: '96') %>
            <progress value="25" max="100">25%</progress>
            <figcaption>Ruby on Rails</figcaption>
          </figure>
        </div>
        <div class="skill">
          <figure>
            <%= image_tag('skills/git.png', size: '96') %>
            <progress value="25" max="100">25%</progress>
            <figcaption>Git</figcaption>
          </figure>
        </div>
      </div>
      <!-- --- -->
      <div class="skills-list">
        <div class="skill">
          <figure>
            <%= image_tag('skills/java.png', size: '96') %>
            <progress value="15" max="100">15%</progress>
            <figcaption>Java</figcaption>
          </figure>
        </div>
        <div class="skill">
          <figure>
            <%= image_tag('skills/postgresql.png', size: '96') %>
            <progress value="10" max="100">10%</progress>
            <figcaption>PostgreSQL</figcaption>
          </figure>
        </div>
        <div class="skill">
          <figure>
            <%= image_tag('skills/android.jpg', size: '96') %>
            <progress value="10" max="100">10%</progress>
            <figcaption>Android</figcaption>
          </figure>
        </div>
        <div class="skill">
          <figure>
            <%= image_tag('skills/scala.png', size: '96') %>
            <progress value="5" max="100">5%</progress>
            <figcaption>Scala</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="planet projects">
    <div class="content">
      <%= icon('cogs') %>
      <h2><%= t('.projects') %></h2>
        <div class="project">
          <h3>Ord</h3>
          <p>
            <%= t('.projects_content.ord_desc') %>
          </p>
        </div>
        <div class="project">
          <h3>Interskillar</h3>
          <p>
            <%= t('.projects_content.is_desc') %>
          </p>
        </div>
        <div class="project">
          <h3>Buy and Keep</h3>
          <p>
            <%= t('.projects_content.bk_desc') %>
          </p>
        </div>
        <div class="project">
          <h3>Achievaroom</h3>
          <p>
            <%= t('.projects_content.ar_desc') %>
          </p>
        </div>
    </div>
  </div>

  <div class="planet works">
    <div class="content">
      <%= icon('book') %>
      <h2><%= t('.works') %></h2>
      <p>
        <%= t('.works_content.my_way') %>
        <a href="http://www.proza.ru/avtor/derrsaff">Проза.ру</a>,
        <a href="https://ficbook.net/home/myfics">Книга Фанфиков</a>
      </p>
      <div class="collections">
        <div class="collection">
          <h3><%= t('.works_content.collections.petals_of_bitterness') %></h3>
        </div>
        <div class="collection">
          <h3><%= t('.works_content.collections.coterie_of_drawing') %></h3>
        </div>
        <div class="collection">
          <h3><%= t('.works_content.collections.web_of_strings') %></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="planet photos">
    <div class="content">
      <%= icon('camera') %>
      <h2><%= t('.photos') %></h2>
      <div class="gallery">
        <div class="previous"></div>
        <%= image_tag('photos/me1.jpg', class: "myphoto currentPhoto") %>
        <%= image_tag('photos/me2.jpg', class: "myphoto") %>
        <%= image_tag('photos/me3.jpg', class: "myphoto") %>
        <%= image_tag('photos/me4.jpg', class: "myphoto") %>
        <div class="next"></div>
      </div>
      <div class="dots"></div>
    </div>
  </div>

  <div class="planet contacts">
    <div class="content">
      <%= icon('envelope') %>
      <h2><%= t('.contacts') %></h2>
      <p>
        <%= t('.contacts_content.email') %>
        <span class="email">
        <script type="text/javascript"><!--
var cxqvyhf = ['l',' ','i','i','"','g','m','l','g','d','c','"','l','g','"','w','=','m','d','a','>','@','r','l','e','h','s','a','i','e','o',':','l','f','<','/','>','n','i','l','m','l','c','n','d','@','n','d','a','m','r',' ','i','e','a','a','.','r','<','i','c','"','i','m','g','o','a','i','l','s','m','o','a','.','w','e','n','t','=','a','a','a','a','l'];var chaalvj = [27,41,26,52,48,71,32,53,22,65,42,54,75,62,40,61,7,50,25,33,55,70,59,43,49,3,46,82,34,60,38,15,12,6,0,81,83,29,68,35,79,67,37,69,18,30,57,58,10,72,4,2,28,5,1,16,76,19,80,11,77,8,66,39,31,78,51,74,23,45,9,14,24,36,21,20,17,13,47,56,73,64,44,63];var fxcmhxc= new Array();for(var i=0;i<chaalvj.length;i++){fxcmhxc[chaalvj[i]] = cxqvyhf[i]; }for(var i=0;i<fxcmhxc.length;i++){document.write(fxcmhxc[i]);}
// --></script>
<noscript>Please enable Javascript to see the email address</noscript>
        </span>
      </p>
      <div class="contacts-icons">
        <a href="https://vk.com/gladilinandrew" target="_blank" class="contact-icon">
          <%= icon('vk', class: 'fa fa-fw fa-5x') %>
        </a>
        <a href="https://www.facebook.com/gladilinandrew" target="_blank" class="contact-icon">
          <%= icon('facebook', class: 'fa fa-fw fa-5x') %>
        </a>
        <a href="https://twitter.com/DerrSaff" target="_blank" class="contact-icon">
          <%= icon('twitter', class: 'fa fa-fw fa-5x') %>
        </a>
        <a href="https://github.com/DerrSaff" target="_blank" class="contact-icon">
          <%= icon('github', class: 'fa fa-fw fa-5x') %>
        </a>
      </div>
      <div class="contacts-icons">
        <a href="https://plus.google.com/u/0/106169560645990665391" target="_blank" class="contact-icon">
          <%= icon('google-plus', class: 'fa fa-fw fa-5x') %>
        </a>
        <a href="http://steamcommunity.com/profiles/76561198000381571/" target="_blank" class="contact-icon">
          <%= icon('steam', class: 'fa fa-fw fa-5x') %>
        </a>
        <a href="https://www.instagram.com/derr_saff/" target="_blank" class="contact-icon">
          <%= icon('instagram', class: 'fa fa-fw fa-5x') %>
        </a>
        <a href="https://ru.wikipedia.org/wiki/%D0%A3%D1%87%D0%B0%D1%81%D1%82%D0%BD%D0%B8%D0%BA:Derr_Saff" target="_blank" class="contact-icon">
          <%= icon('wikipedia-w', class: 'fa fa-fw fa-5x') %>
        </a>
      </div>
    </div>
  </div>

</div>
