<div class="orbit">
  <div class="planet about">
    <div class="content">
      <%= icon('user') %>
      <h2>Обо мне</h2>
      <p>
        Привет!
      </p>
    </div>
  </div>
  <div class="planet skills">
    <div class="content">
      <%= icon('tasks') %>
      <h2>Навыки</h2>
      Привет!
    </div>
  </div>
  <div class="planet science">
    <div class="content">
      <%= icon('flask') %>
      <h2>Научные работы</h2>
      Привет!
    </div>
  </div>
  <div class="planet projects">
    <div class="content">
      <%= icon('cogs') %>
      <h2>Мои разработки</h2>
      Привет!
    </div>
  </div>
  <div class="planet works">
    <div class="content">
      <%= icon('book') %>
      <h2>Литературное творчество</h2>
      Привет!
    </div>
  </div>
  <div class="planet photos">
    <div class="content">
      <%= icon('camera') %>
      <h2>Мои фото</h2>
      Привет!
    </div>
  </div>
  <div class="planet contacts">
    <div class="content">
      <%= icon('envelope') %>
      <h2>Контакты</h2>
      Привет!
    </div>
  </div>

</div>
